.highlight-gold {
    background-color: rgba(235, 199, 0, 1);
}
/*.highlight-predicted {
    background-color: rgba(146, 175, 253, 1);
}*/
.highlight-search {
    background-color: rgba(244, 146, 253, 1);
}

.highlight-predicted-focus-bold {
    background-color: rgba(250, 158, 158, 1);
    font-weight: 700;
}
.highlight-predicted-focus {
    background-color: rgba(250, 158, 158, 1);
}
.highlight-predicted {
    background-color: rgba(250, 158, 158, 0.4);
}

.highlight-correct-focus {
    background-color: rgba(107, 236, 65, 1);
    font-weight: 700;
}
.highlight-correct {
    background-color: rgba(107, 236, 65, 0.4);
}